<div class="container-fluid">
<div class="row">
  <div class="col-9">
    <div class="m-1">
      <vg-player>
        <video #media [vgMedia]="media" preload="auto" [src]="currentWatchFile?.downloadURL">
        </video>
      </vg-player>
    </div>
  </div>


  <div class="col-3">
    <div *ngFor="let file of suggestedVideos">
      <vg-player>

        <video #media [vgMedia]="media" preload="auto" [src]="file.downloadURL">
        </video>
      </vg-player>
    </div>
  </div>

</div>
</div>
